  <div class="card card-body bg-light" style="margin: 20px">
    <div class="col-md-12 row">
      <h1 class="text-center col-md-9">TaskManager</h1>
      <button class="btn btn-outline-success">New task</button>
      <button class="btn btn-outline-warning">Edit project</button>
    </div>
    <div class="container-fluid d-flex">
      <div class="example-container">
        <h2>To do</h2>

        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, doingList, reviewingList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let todo of todo" cdkDrag>{{todo}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Doing</h2>

        <div
          cdkDropList
          #doingList="cdkDropList"
          [cdkDropListData]="doing"
          [cdkDropListConnectedTo]="[todoList, doneList, reviewingList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of doing" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Reviewing</h2>

        <div
          cdkDropList
          #reviewingList="cdkDropList"
          [cdkDropListData]="reviewing"
          [cdkDropListConnectedTo]="[todoList, doneList, doingList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of reviewing" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>

        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, doingList, reviewingList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>
  </div>
